<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout :: header_auth}"></head>
<body class="text-center">
<div th:replace="~{layout :: navbar}"></div>

<section class="page-section" id="login">

    <div class="alert alert-danger" role="alert" th:if="${param.error}">
        Sikertelen bejelentkezés! Kérlek ellenőrízd a felhasználóneved és a jelszavad!
    </div>
<div class="authform">
   <form class="form-signin" th:action="@{/login}" th:method="POST" >
    <h1 class="h3 mb-3 font-weight-normal">Jelentkezzen be!</h1>
    <label for="username" class="sr-only">Felhasználónév</label>
    <input type="text" id="username" class="form-control" placeholder="Felhasználónév" required="" autofocus="" name="username">
    <label for="password" class="sr-only">Jelszó</label>
    <input type="password" id="password" class="form-control" placeholder="Jelszó" required="" name="password">
    <button class="btn btn-lg btn-danger btn-block" type="submit">Bejelentkezés!</button>
  </form>
</div>
</section>

<div th:replace="~{layout :: footer}"></div>
<div th:replace="~{layout :: javascripts}"></div>
</body>
</html>