<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{layout :: header}"></head>
<body>
<div th:replace="~{layout :: navbar}"></div>


<section class="page-section" id="contact">
    <div class="container">

        <div class="alert alert-success" role="alert" th:if="${param.success}">
            Üzenet sikeresen elküldve!
        </div>
        <form th:action="@{/api/message/add}" method="post">
            <div class="mb-3">
                <label for="uzenet" class="form-label">Üzenet</label>
                <textarea class="form-control" name="uzenet" id="uzenet" rows="5"  placeholder="Írd le az üzeneted"></textarea>
            </div>
            <button type="submit" class="btn btn-danger">Küldés</button>
        </form>
    </div>
</section>


<div th:replace="~{layout :: footer}"></div>
<div th:replace="~{layout :: javascripts}"></div>
</body>
</html>