<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">>

<head th:fragment="header">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formula 1 </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{css/main.css}"  rel="stylesheet">

</head>

<head th:fragment="header_auth">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Formula 1 </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{css/main.css}"  rel="stylesheet">
    <link th:href="@{css/auth.css}"  rel="stylesheet">

</head>
<body>
<div th:fragment="navbar">
    <nav class="navbar navbar-expand-md fixed-top navbar-dark">
        <a class="navbar-brand" href="/"><img width="75%" th:src="@{img/f1_logo_w.png}"/> </a>
        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbaar"
                aria-controls="navbaar" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="navbaar" style="">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Kezdőlap</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Menü 1</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link"  href="/sign-in">Bejelentkezés</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link"  href="/register">Regisztráció</a>
                </li>
                <li class="nav-item" sec:authorize="hasRole('admin')">
                    <a class="nav-link"  href="/admin/home">Adminisztráció</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link"  href="/auth/logout">Kijelentkezés</a>
                </li>

            </ul>
            <span sec:authorize="isAuthenticated()">Bejelentkeze mint,<span class="welcome" sec:authentication="name"></span></span>
        </div>
    </nav>

</div>

<div th:fragment="footer">
    <footer class="container">
        <p>© Sándor Adrián, Katona Zsolt</p>
    </footer>
</div>

<div th:fragment="javascripts">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
</div>
</div>
</body>
</html>